body {

    margin: 0;

    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.orange-text {
    color: orange;
}

/* section {
    display: flex;
    margin-bottom: 100px;

} */
.flaxible-container {
    display: flex;
    margin-bottom: 100px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


.half-width {
    width: 50%;
    padding-left: 4%;


}

.half-width-img {
    width: 50%;

}

.link-btn {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.dream-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}